/target/
/src/main/webapp/WEB-INF/lib/*.jar
.settings/
.classpath
.project
"*.icloud"
.DS_Store
.idea
.metadata
/war/
.vscode/
flair.iml
pom-stanford.xml
gwt-unitCache/
/bin/
*.sh
/localDeps
.mvn
mvnw*

