__pycache__/
/bin/
/localDeps
/src/main/webapp/WEB-INF/lib/*.jar
/target/
/war/
.DS_Store
.classpath
.idea
.metadata
.mvn
.project
.settings/
.vscode/
deploy_prod.out
flair.iml
gwt-unitCache/
mvnw*
pom-stanford.xml
"*.icloud"
*.sh
